{% extends "layout.jinja2" %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>Profile</h1>
       {% if this_user %}
        <ul>
            <li>Username: {{this_user.username}}</li>
            <li>email: {{this_user.email}}</li>
            <li>First Name: {{this_user.first_name}}</li>
            <li>Last Name: {{this_user.last_name}}</li>
            <li>Favorite Food: {{this_user.fav_food}}</li>
        </ul>

    {%end if%}

{% endblock %}